
*{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    text color: #C67F7F; #ececec
}

h1{
    position: relative;
    z-index: 10;
    align-items: top;
}
/* NAVBAR */

header{ padding:20px 60px;
   
} 

.navbar{ display:flex; justify-content:space-between; align-items:center;
    
} 

.navbar ul{ display:flex; list-style:none; gap:40px; 
    
    
} 

.navbar a{ text-decoration:none; color:#777; font-size:14px; 
    
}