body{
margin:0;
font-family: 'Rajdhani', sans-serif;
background:#ececec;
}

/* HEADER */

header{
background:white;
text-align:center;
padding:20px;
}

header h1{
font-family:'Nova Square', cursive;
color:darkred;
}

nav a{
margin:10px;
text-decoration:none;
color:darkred;
font-weight:600;
}

/* titoli */

.secondo-titolo{
height:400px;
background:url("img/mountain.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-family:'Nova Square';
font-size:40px;
}

/* ABOUT */

.container-secondo-titolo{
padding:50px;
text-align:center;
}

.div-secondo-titolo{
color:darkred;
font-family:'Nova Square';
}

.about-container{
display:flex;
gap:40px;
justify-content:center;
}

/* TIMELINE */

.timeline{
padding:50px;
background:white;
}

.timeline h2{
color:darkred;
font-family:'Nova Square';
}

.timeline-item{
border-left:3px solid darkred;
padding-left:20px;
margin:20px 0;
}

/* TEAM */

.team{
padding:50px;
text-align:center;
}

.team h2{
font-family:'Nova Square';
color:darkred;
}

.team-container{
display:flex;
justify-content:center;
gap:40px;
}

.member img{
width:120px;
height:120px;
border-radius:50%;
border:4px solid #C67F7F;
}

.member h3{
margin:10px 0 0 0;
}

/* BENEFIT */

.benefit{
padding:50px;
background:white;
}

.benefit h2{
color:darkred;
font-family:'Nova Square';
text-align:center;
}

.benefit-container{
display:flex;
gap:40px;
justify-content:center;
}

/* FOOTER */

footer{
background:darkred;
color:white;
padding:30px;
}

.footer-container{
display:flex;
justify-content:space-between;
}

footer ul{
list-style:none;
padding:0;
}


